<!doctype html>
</head>
    <title> List of Files</title>
    <div align="center"> <table cellpadding="2.0" width="50%" border="1.0">
        <caption><b/>List of Files</caption>
        <tr align="center"><th>File Name</th><th>Latest version</th><th>Modified Date</th><th colspan="2">Action</th></tr>
            {% for doc in db %}
                {% set getdoc = db.get(doc) %}
                    <tr align="center"><td><a href="/download/selectver/{{getdoc['_id']}}" >{{ getdoc["_id"] }}</a></td>
                        <td>{{getdoc["latest_version"]}} </td><td>{{ getdoc["disp_modified_date"] }}</td>
                        <td><a href="/deletever/{{getdoc['_id']}}">Delete</a></td><td> <a href="/listver/{{getdoc['_id']}}">See versions</a></td></tr>
            {% endfor %}
        <tr align="center"><td colspan="5"><a href="/"> << Back</a>   <a href="/upload"> Upload File >></a> </td> </tr>
    </table></div>
