<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 align="center">Welcome to Cloud computing!</h1>
<h3 align="center">File storage service by BlueMix</h3><br/><br/>
<table width="40%" align="center">
<form action="/" method=post enctype=multipart/form-data>
        <tr align="center">
            <th ><input type='submit' name='submit' value='View Files' formaction="/list"></th>
            <th > <input type='submit' name='submit' value='Upload File' ></th>
        </tr>

</form>
</table>
</body>

</html>